.mainDiv {
  display: flex;
  width: 55px;
  height: 40px;
  font-size: 1.1rem;
  align-items: center;
  justify-content: space-around;
  background: black;
  border-radius: 10px;

  cursor: pointer;

  border: solid 3px;
}

@media screen and (max-width: 550px) {
  .mainDiv {
    left: 55px;
  }
}
