.mainDiv {
    display: flex;
    width: 265px;
    height: 40px;
    font-size: 1.1rem;
    align-items: center;
    justify-content: space-around;
    background: black;
    border-radius: 0 0 10px 10px;
    position: absolute;
    top: -4px;
    left: 65px;
    z-index: 401;

    cursor: pointer;

    border: solid 4px;
}

.info {
    padding-left: 15px;
    font-style: italic;

    cursor: help;
}

.info:hover {
    content: "test";
}