.mainDiv {
    cursor: pointer;
    user-select: none;

    margin-right: 24px;
}

.eye {
    width: 30px;
    z-index: 1;
}

.pupil {
    width: 14px;
    position: relative;
    left: -22px;
    top: 2px;
    z-index: 0;
}

.eyelid {
    width: 30px;
    z-index: 3;
    position: relative;
    top: -10px;
}

.openedEye {
    display: flex;
}


.openedEye:hover>.hide>.pupil {
    animation: zieute 3s ease-in-out infinite;
}

@keyframes zieute {
    0%, 66% {
        transform: translateX(0px);
    }

    22% {
        transform: translateX(-5px);
    }

    44% {
        transform: translateX(5px);
    }
}

.closedEye {
    display: flex;
}

.closedEye>.hide>.pupil {
    left: -22px;
    top: -13px;
}

.closedEye>.hide>.eye {
    position: relative;
    left: -30px;
    top: 6px;
}

.hide {
    width: 0;
}

@keyframes entreOuvreOeil {
    0%, 75% {
        transform: rotateX(0deg);
    }

    25%, 50% {
        transform: rotateX(65deg);
    }

}

.closedEye:hover>.eyelid {
    animation: entreOuvreOeil 3s ease-in-out infinite;
}