.window {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100svw;
  height: 100svh;
  z-index: 2;
  top: 1px;

  background-color: rgba(0, 0, 0, 0.9);
  border: none;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: auto;
    height: auto;
  }
  .previous,
  .next,
  .close {
    height: 50px;
    width: 65px;
    border-radius: 3px;
    margin: 0 20px;

    border: none;
    background-color: unset;
    cursor: pointer;

    transition: color 0.2s ease-in, background-color 0.2s ease-in;

    &:hover {
      color: black;
      text-shadow: 1px 1px 1px black;
      background-image: url('/assets/TarkovMapLocationBG.png');
      background-size: cover;
    }
  }
  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    height: 100%;

    .closeButton {
      align-self: flex-end;
      color: rgb(232, 230, 227);
      opacity: 0.6;
      background: none;
      border: none;

      margin-bottom: 5px;
    }
    .slider {
      display: flex;
      flex-direction: column;
      align-items: center;

      width: 435px;
      height: 435px;
      .slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        z-index: 1;
        width: 100%;
        height: 100%;
        border: solid 5px rgba(232, 190, 107, 0.8);
        background-color: #23272a;
        border-radius: 8px;
        border-left: none;
        border-top: none;

        .icon {
          width: 40%;
        }
        .screenshot {
          width: 84%;
          margin-top: 70px;
        }
        .gears {
          display: flex;
          margin: 70px 0 20px 30px;

          .MidleGear {
            position: relative;
            top: -9px;
            left: -4px;
          }
          .LastGear {
            position: relative;
            right: 22px;
            top: 24px;
          }
        }
        .welcome {
          padding: 20px;
          color: rgba(232, 190, 107);
          font-size: 24px;
          text-align: center;
        }
        .desc {
          text-align: center;
          font-size: 1.3rem;
          margin-bottom: 70px;
          width: 90%;
        }
      }
    }
    .bullets {
      .bullet {
        color: rgba(232, 190, 107, 0.8);
        transition: font-size 0.2s ease, margin 0.2s ease;
        margin: 5px 5px;
        background: none;
        border: none;
        font-size: 30px;

        cursor: pointer;

        &:hover {
          color: rgb(224, 191, 124);
          font-size: 35px;
          margin: 0px 5px;
        }
      }
    }
  }
}

@media (max-height: 550px) {
  .window {
    .center {
      .slider {
        height: 200px;
        .slide {
          .icon {
            display: none;
          }
          .screenshot {
            display: none;
          }
          .gears {
            margin: 0px 0 0px 30px;

            .MidleGear {
              top: -9px;
              left: -4px;
            }
            .LastGear {
              right: 20px;
              top: 19px;
            }
          }
          .welcome {
            padding: 16px 0 5px 0;
            font-size: 20px;
          }
          .desc {
            font-size: 1rem;
            margin-bottom: 0px;
            width: 90%;
          }
        }
      }
      .bullets {
        .bullet {
          margin: 5px 5px;
          font-size: 30px;

          &:hover {
            font-size: 35px;
            margin: 0px 5px;
          }
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .window {
    .previous {
      position: fixed;
      bottom: 10px;
      left: 15px;
    }
    .next,
    .close {
      height: 50px;
      width: 65px;
      margin: 0 20px;
      position: fixed;
      bottom: 10px;
      right: 15px;
    }
    .center {
      .closeButton {
        margin-bottom: 5px;
      }
      .slider {
        width: 90%;
        height: 70svh;
        .slide {
          .icon {
            width: 40%;
          }
          .screenshot {
            width: 84%;
            margin-top: 70px;
          }
          .gears {
            margin: 70px 0 20px 30px;

            .MidleGear {
              top: -9px;
              left: -4px;
            }
            .LastGear {
              right: 22px;
              top: 24px;
            }
          }
          .welcome {
            padding: 10px;
            font-size: 24px;
          }
          .desc {
            font-size: 1.3rem;
            margin-bottom: 70px;
            width: 90%;
          }
        }
      }
      .bullets {
        .bullet {
          margin: 5px 5px;
          font-size: 30px;

          &:hover {
            font-size: 35px;
            margin: 0px 5px;
          }
        }
      }
    }
  }
}
