.body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100svh;
  width: 100vw;
}

.left {
  display: flex;
}

.user {
  position: absolute;
  top: 15px;
  left: 15px;

  display: flex;
}

.info {
  display: flex;
  flex-direction: column;
}

.infosBulle {
  position: absolute;
  top: 15px;
  right: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 3px solid white;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  font-size: 2rem;
}

.credit {
  position: absolute;
  bottom: 1px;
}

.clearInputCSS {
  background: none;
  border: none;
}

.clearInputCSS option {
  background-color: grey;
}

.inputLevel {
  width: 50px;
}

.select, .labelLvl, .clearInputCSS option, .inputLevel {
  font-size: 1.3rem;
}

.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 789px;
  height: 561px;

  background-image: url("/assets/TarkovMap.webp");

  box-shadow: 0 0 15px rgba(65, 61, 52, 1), 0 0 6px rgba(232, 190, 107, 0.8);
}

/* TODO Enlever les background-color une fois le push en prod */
.customs {
  position: relative;
  background-color: rgb(0 255 255 / 25%);

  width: 118px;
  height: 32px;
  bottom: -17px;
  left: 70px;

}

.factory {
  position: relative;
  background-color: rgb(0 255 255 / 25%);

  width: 110px;
  height: 32px;
  bottom: -68px;
  left: -70px;
}

.woods {
  position: relative;
  background-color: rgb(0 255 255 / 25%);

  width: 98px;
  height: 32px;
  bottom: 66px;
  left: -143px;
}

.reserve {
  position: relative;
  background-color: rgb(0 255 255 / 25%);

  width: 110px;
  height: 32px;
  bottom: -77px;
  left: -230px;
}

.lighthouse {
  position: relative;
  background-color: rgb(0 255 255 / 25%);

  width: 161px;
  height: 32px;
  bottom: -157px;
  left: -226px;
}

.shoreline {
  position: relative;
  background-color: rgb(0 255 255 / 25%);

  width: 138px;
  height: 32px;
  bottom: -210px;
  left: -134px;
}

.interchange {
  position: relative;
  background-color: rgb(0 255 255 / 25%);

  width: 168px;
  height: 32px;
  bottom: 234px;
  left: 146px;
}

.streets {
  position: relative;
  background-color: rgb(0 255 255 / 25%);

  width: 238px;
  height: 32px;
  bottom: 361px;
  left: 274px;
}