.component {
  display: flex;
  flex-direction: column;
  height: 55px;

  .search {
    background: none;
    border: none;
    border-bottom: 3px solid #8a7c64;
    outline: none;
    font-size: 18px;
    margin: 15px 0 15px 15px;
    width: 200px;

    &:focus-visible {
      border: none;
      border-bottom: 3px solid white;
    }
  }

  .reset {
    background: none;
    border: none;

    position: relative;
    left: 198px;
    top: -39px;
    width: 0;
  }
  .hide {
    width: 0;
    height: 0;
    .dropdown {
      position: relative;
      top: -35px;
      left: 15px;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      overflow-y: scroll;
      max-height: 150px;
      width: 200px;

      border: solid 3px white;
      border-radius: 0 0 15px 15px;
      background-color: black;
      z-index: 4;

      scrollbar-width: thin;
      scrollbar-color: black #f3c808;
      &::-webkit-scrollbar-track {
        background: black;
        border-radius: 5px;
      }
      &::-webkit-scrollbar {
        width: 10px;
      }
      &::-webkit-scrollbar-thumb {
        background: #f3c808;
        border-radius: 5px;
        cursor: pointer;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: #9c7e3e;
      }

      .result {
        color: white;
        padding: 10px;
        font-weight: bold;
        background: none;
        border: none;

        &:hover {
          text-decoration: underline;
        }
      }
      .unavailable {
        color: gray;
      }
    }
  }
}

@media (max-height: 550px) or (max-width: 550px) {
  .component {
    .search {
      width: 60vw;
    }
    .reset {
      left: 60vw;
    }
    .hide {
      width: 0;
      height: 0;
      .dropdown {
        width: 60vw;
      }
    }
  }
}
