.window {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100svw;
    height: 100svh;

    background-color: rgba(0, 0, 0, 0.9);
}

.closeButton {
    align-self: flex-end;
    color: rgb(232, 230, 227);
    opacity: .6;
    background: none;
    border: none;

    margin-bottom: 5px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: auto;
    height: auto;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    height: 100%;
}

.previous, .next, .close {
    height: 50px;
    width: 65px;
    border-radius: 25px;
    background-color: #121314;
    border: 3px solid rgba(255, 211, 123, 0.8);
    margin: 0 20px;
    font-size: 30px;
    cursor: pointer;

    transition: background-color 0.2s ease, border 0.2s ease;
}

.close {
    background-color: rgb(65, 9, 9);
    border: 3px solid rgba(255, 161, 117, 0.8);

    transition: background-color 0.2s ease, border 0.2s ease;
}

.close:hover {
    background-color: rgb(65, 9, 9, 0.8) !important;
    border: 3px solid rgba(255, 161, 117, 0.8) !important;
}

.previous:hover, .next:hover {
    background-color: #212325;
    border: 3px solid rgba(218, 189, 132, 0.8);
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 33svw;
    height: 33svw;
}

.slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    z-index: 1;
    width: 100%;
    height: 100%;
    border: solid 5px rgba(232, 190, 107, 0.8);
    background-color: #23272a;
    border-radius: 8px;
    border-left: none;
    border-top: none;
}

.icon {
    width: 40%;
}

.screenshot {
    width: 84%;
    margin-top: 70px;
}

.gears {
    display: flex;
    margin: 70px 0 20px 30px;
}

.MidleGear {
    position: relative;
    top: -9px;
    left: -4px;
}

.LastGear {
    position: relative;
    right: 22px;
    top: 24px;
}

.welcome {
    padding: 20px;
    color: rgba(232, 190, 107);
    font-size: 24px;
    text-align: center;
}

.desc {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 70px;
    width: 90%;
}

.bullet {
    color: rgba(232, 190, 107, 0.8);
    transition: font-size 0.2s ease, margin 0.2s ease;
    margin: 5px 5px;
}

.bullets button {
    background: none;
    border: none;
    font-size: 30px;

    cursor: pointer;
}

.bullet:hover {
    color: rgb(224, 191, 124);
    font-size: 35px;
    margin: 0px 5px;
}