.map {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 789px;
    height: 561px;

    background-image: url("/assets/TarkovMap.webp");

    box-shadow: 0 0 15px rgba(65, 61, 52, 1), 0 0 6px rgba(232, 190, 107, 0.8);
}

.lien {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Bender", sans-serif;
    color: darkgrey;

    height: 28px;
    padding: 5px 20px 5px 20px;
    border-radius: 4px;
    font-size: 1.6rem;

    background-color: transparent;
    transition: color 0.2s ease-in, background-color 0.2s ease-in;
}

.lien:hover {
    color: black;
    text-shadow: 1px 1px 1px black;
    background-image: url("/assets/TarkovMapLocationBG.png");
    background-size: cover;
    transition: color 0.2s ease-in, background-color 0.4s ease-in;
}

.customs {
    position: relative;
    width: 161px;
    bottom: -32px;
    left: 71px;

    letter-spacing: 0.3px;
}

.factory {
    position: relative;
    width: 157px;
    height: 32px;
    bottom: -85px;
    left: -68px;

    letter-spacing: 0.6px;
}

.woods {
    position: relative;

    width: 138px;
    height: 32px;
    bottom: 50px;
    left: -142px;
    letter-spacing: 0.4px;
}

.reserve {
    position: relative;

    width: 153px;
    height: 32px;
    bottom: -93px;
    left: -229px;
    letter-spacing: 0.3px;
}

.lighthouse {
    position: relative;

    width: 201px;
    height: 32px;
    bottom: -173px;
    left: -226px;
    letter-spacing: 0.2px;
}

.shoreline {
    position: relative;

    width: 188px;
    height: 32px;
    bottom: -227px;
    left: -134px;
    letter-spacing: 0.2px;
}

.interchange {
    position: relative;

    width: 217px;
    height: 32px;
    left: 146px;
    bottom: 217px;
    letter-spacing: 0.1px;
}

.streets {
    position: relative;

    justify-content: unset;
    padding: 0 0 0 38px;
    width: 298px;
    height: 32px;
    bottom: 345px;

    left: 269px;
    letter-spacing: 0.1px;
}

.tarkov {
    padding-left: 9px;
    letter-spacing: 0.7px;
}

.lab {
    position: relative;

    padding: 2px 25px 1px 24px;
    height: 27px;
    bottom: 387px;
    left: -101.9px;
    letter-spacing: 0.2px;
}