.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 789px;
  height: 561px;
  margin: 90px 0;

  background-image: url('/assets/TarkovMap.webp');

  box-shadow: 0 0 15px rgba(65, 61, 52, 1), 0 0 6px rgba(232, 190, 107, 0.8);

  .lien {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Bender', sans-serif;
    color: darkgrey;

    height: 28px;
    padding: 5px 20px 5px 20px;
    border-radius: 4px;
    font-size: 1.6rem;

    background-color: transparent;
    transition: color 0.2s ease-in, background-color 0.2s ease-in;

    &:hover {
      color: black;
      text-shadow: 1px 1px 1px black;
      background-image: url('/assets/TarkovMapLocationBG.png');
      background-size: cover;
      transition: color 0.2s ease-in, background-color 0.4s ease-in;
    }
  }
  .customs {
    position: relative;
    width: 161px;
    bottom: -32px;
    left: 71px;

    letter-spacing: 0.3px;
  }
  .factory {
    position: relative;
    width: 157px;
    height: 32px;
    bottom: -85px;
    left: -68px;

    letter-spacing: 0.6px;
  }
  .woods {
    position: relative;

    width: 138px;
    height: 32px;
    bottom: 50px;
    left: -142px;
    letter-spacing: 0.4px;
  }
  .reserve {
    position: relative;

    width: 153px;
    height: 32px;
    bottom: -93px;
    left: -229px;
    letter-spacing: 0.3px;
  }
  .lighthouse {
    position: relative;

    width: 201px;
    height: 32px;
    bottom: -173px;
    left: -226px;
    letter-spacing: 0.2px;
  }
  .shoreline {
    position: relative;

    width: 188px;
    height: 32px;
    bottom: -227px;
    left: -134px;
    letter-spacing: 0.2px;
  }
  .interchange {
    position: relative;

    width: 217px;
    height: 32px;
    left: 146px;
    bottom: 217px;
    letter-spacing: 0.1px;
  }
  .streets {
    position: relative;

    justify-content: unset;
    padding: 0 0 0 38px;
    width: 298px;
    height: 32px;
    bottom: 345.4px;
    left: 270px;
    letter-spacing: 0.1px;

    .tarkov {
      padding-left: 8px;
      letter-spacing: 0.6px;
      font-family: 'Bender', sans-serif;
    }
  }
  .lab {
    position: relative;

    padding: 2px 25px 1px 24px;
    height: 27px;
    bottom: 386px;
    left: -100.9px;
    letter-spacing: 0.2px;
  }
}

@media screen and (min-width: 550px) and (max-width: 800px) {
  .map {
    width: 545px;
    height: 387px;

    background-size: cover;

    .lien {
      font-size: 1.1rem;
    }
    .customs {
      width: 114px;
      bottom: -56px;
      left: 49px;
      letter-spacing: 0.1px;
    }
    .factory {
      width: 107px;
      height: 32px;
      bottom: -84px;
      left: -47px;

      letter-spacing: 0.2px;
    }
    .woods {
      width: 98px;
      height: 32px;
      bottom: 19px;
      left: -98px;
      letter-spacing: 0.3px;
    }
    .reserve {
      width: 103px;
      height: 32px;
      bottom: -70px;
      left: -158px;

      letter-spacing: 0.2px;
    }
    .lighthouse {
      width: 133px;
      height: 32px;
      bottom: -115px;
      left: -156px;

      letter-spacing: 0.2px;
    }
    .shoreline {
      width: 128px;
      height: 30px;
      bottom: -143px;
      left: -92px;
    }
    .interchange {
      width: 147px;
      height: 32px;
      left: 101px;
      bottom: 173px;
      letter-spacing: 0.1px;
    }
    .streets {
      padding: 0px 0 0 22px;
      width: 188px;
      height: 32px;
      bottom: 271px;
      left: 181px;
      letter-spacing: 0.1px;
      .tarkov {
        padding-left: 6px;
        letter-spacing: 0.7px;
      }
    }
    .lab {
      bottom: 305px;
      left: -70px;
      letter-spacing: 0.2px;
      padding: 0px 17px 0px 18px;
      height: 19px;
    }
  }
}

@media screen and (max-width: 550px) {
  .map {
    width: 90%;
    height: unset;

    background-size: unset;
    background-color: #23272a;
    background-image: unset;
    border-radius: 5px;

    .lien {
      position: unset !important;

      font-size: 1rem;
    }
    .streets {
      justify-content: center;
      padding: unset;
      .tarkov {
        padding-left: 6px;
        letter-spacing: 0.7px;
      }
    }
    .lab {
      bottom: 305px;
      left: -70px;
      letter-spacing: 0.2px;
      padding: 0px 17px 0px 18px;
      height: 19px;
    }
  }
}
